.gallery {
    background: url(../images/cakes-thin2.jpg);
    background-size: cover;
    background-repeat: cover;
    width: 100vw;
    height: 31vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.gallery h3 {
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 0.9rem;
    text-shadow: 0px 0px 10px #8192D6;
    animation: h3In 1s ease 1;
}
.gallery p {
    text-align: center;
    color: white;
    font-size: 0.7rem;
    text-shadow: 0px 0px 10px #8192D6;
    animation: pIn 1s ease 1;
}
@keyframes h3In {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    50%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
} 

@keyframes pIn {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    70%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@media screen and (min-width: 640px) {
    .gallery {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .gallery h3{
        font-size: 4rem;
    }
    .gallery p {
        font-size: 2rem;
    }

}
